<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timebox - Kurs Reacta</title>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Kurs Reacta Tydzień 2</h1>
    <hr>
    <div id="root" />
</body>

<script type="text/babel">


/*********************************************************************
******************** Functional Component "Clock" ********************
**********************************************************************/
function Clock({className = '', minutes = 0, seconds = 0}) {

    const zeroPad = (num, places) => String(num).padStart(places, '0');

    minutes = Math.max(Math.min(minutes, 59), 0);
    seconds = Math.max(Math.min(seconds, 59), 0);

    return (
        <h2 className={`Clock ${className}`}>
            Pozostało {zeroPad(minutes, 2)}:{zeroPad(seconds, 2)}
        </h2>
    );
}

/*********************************************************************
***************** Functional Component "ProgressBar" *****************
**********************************************************************/
function ProgressBar({ className = '', percent = 33, trackRemaining = false}) {

    const width = trackRemaining ? 100 - percent : percent;
    return (
        <div className={`ProgressBar ${className}`}>
            <div style={{ width: `${width}%`}} />
        </div>
    );
}

/*********************************************************************
******************* Functional Component "TimeBox" *******************
**********************************************************************/
class CurrentTimeBox extends React.Component {

    constructor(props) {
        super(props);

        this.state = {
            isRunning: false,
            isPaused: false,
            pausesCount: 0,
            elapsedTimeInSeconds: 0,
        }
    }

    handleStop = (event) => {
        this.stopTimer();
        this.setState({
            isPaused: false,
            isRunning: false,
            pausesCount: 0,
            elapsedTimeInSeconds: 0
        });
    }

    handleStart = (event) => {
        this.setState({
            isRunning: true,
        });

        this.startTimer();
    }

    togglePause = () => {

        this.setState((prevState) => {
            const isPaused = !prevState.isPaused;

            if (isPaused) {
                this.stopTimer();
            } else {
                this.startTimer();
            }
            return {
                isPaused,
                pausesCount: isPaused ? prevState.pausesCount + 1 : prevState.pausesCount,
            }
        });


    }

    startTimer = () => {
        this.intervalid = setInterval(() => {
            this.setState((prevState) => ({ elapsedTimeInSeconds: prevState.elapsedTimeInSeconds + 1}))
        }, 1000);
    }

    stopTimer = () => {
        clearInterval(this.intervalid);
    }

    render() {

        const { isRunning, isPaused, pausesCount, elapsedTimeInSeconds } = this.state;
        const { title, totalTimeInMinutes, isEditable, onEdit } = this.props;

        const totalTimeInSeconds = totalTimeInMinutes * 60;
        const timeLeftInSeconds = totalTimeInSeconds - elapsedTimeInSeconds;
        const minutesLeft = Math.floor(timeLeftInSeconds / 60);
        const secondsLeft = Math.floor(timeLeftInSeconds % 60);

        const progressInPercent = ( timeLeftInSeconds / totalTimeInSeconds ) * 100;

        return (
            <div className={`CurrentTimeBox ${isEditable ? 'inactive' : ''}`}>
                <h1>{title}</h1>
                <Clock className={ isPaused ? 'inactive' : ''} minutes={minutesLeft} seconds={secondsLeft}/>
                <ProgressBar percent={progressInPercent} className={ isPaused ? 'inactive' : ''} />
                <button onClick={onEdit} disabled={isEditable || isRunning}>Edytuj</button>
                <button onClick={this.handleStart} disabled={isRunning || isEditable}>Start</button>
                <button onClick={this.handleStop} disabled={!isRunning || isEditable}>Stop</button>
                <button onClick={this.togglePause} disabled={!isRunning || isEditable}>{ isPaused ? 'Wznów' : 'Pauzuj' }</button>
                Liczba przerw: {pausesCount}
            </div>
        );
    }
}

/*********************************************************************
**************** Functional Component "TimeBoxEditor" ****************
**********************************************************************/
function TimeboxEditor(props) {

    const {
        title,
        totalTimeInMinutes,
        isEditable,
        onTitleChange,
        onTotalTimeInMinutesChange,
        onConfirm,
    } = props;

    return (
        <div className={`TimeboxEditor ${isEditable ? '' : 'inactive'}`}>
            <label >Co robisz?
                <input
                    disabled={!isEditable}
                    type="text"
                    value={title}
                    onChange={onTitleChange}
                />
            </label><br />
            <label >Ile minut?
                <input
                disabled={!isEditable}
                    type="number"
                    value={totalTimeInMinutes}
                    onChange={onTotalTimeInMinutesChange}
                />
            </label><br/>
            <button
                disabled={!isEditable}
                onClick={onConfirm}
            >
                Zacznij
            </button>
        </div>
    );
}

/*********************************************************************
**************** Functional Component "TimeBoxEditor" ****************
**********************************************************************/
class TimeboxCreator extends React.Component {

    state = {
        title: '',
        totalTimeInMinutes: '',
    }

    handleTitleChange = (event) => {
        this.setState({
            title: event.target.value,
        });
    }

    handleTotalTimeInMinutesChange = (event) => {
        this.setState({
            totalTimeInMinutes: event.target.value,
        });
    }

    handleFormSubmit = (event) => {

        const { title, totalTimeInMinutes } = this.state;
        event.preventDefault();
        this.props.onCreate({
            id: uuid.v4(),
            title,
            totalTimeInMinutes,
        });
        this.setState({
            title: '',
            totalTimeInMinutes: '',
        });
    }

    render() {
        return (
            <form
                onSubmit={this.handleFormSubmit}
                className='TimeboxCreator'
            >
                <label >Co robisz?
                    <input
                        type="text"
                        value={this.state.title}
                        onChange={this.handleTitleChange}
                    />
                </label><br />
                <label >Ile minut?
                    <input
                        type="number"
                        value={this.state.totalTimeInMinutes}
                        onChange={this.handleTotalTimeInMinutesChange}
                    />
                </label><br/>
                <button>
                    Dodaj TimeBox
                </button>
            </form>
        );
    }
}

class TimeboxList extends React.Component {

    state = {
        timeboxes: [
            { id: uuid.v4(), title:'Timebox 1', totalTimeInMinutes: '23' },
            { id: uuid.v4(), title:'Timebox 2', totalTimeInMinutes: '45' },
            { id: uuid.v4(), title:'Timebox 3', totalTimeInMinutes: '65' },
            { id: uuid.v4(), title:'Timebox 4', totalTimeInMinutes: '13' },
            { id: uuid.v4(), title:'Timebox 5', totalTimeInMinutes: '07' },
            { id: uuid.v4(), title:'Timebox 6', totalTimeInMinutes: '11' },
        ]
    }

    deleteHandler = (id) => {
        console.info('OnDelete: ', id);
        this.setState((prevState) => {
            const timeboxes = prevState.timeboxes.filter((timebox, index) => timebox.id !== id);
            return {
                timeboxes,
            }
        })
    }

    editHandler = (indexToUpdate, updatedTimebox) => {

        this.setState(prevState => {
            const timeboxes = prevState.timeboxes.map((timebox, index) => {
                return indexToUpdate === timebox.id ? updatedTimebox : timebox;
            })

            return {
                timeboxes,
            };
        })
    }

    addTimebox = (timebox) => {
        this.setState((prevState) => {
            return {
                timeboxes: [ timebox , ...prevState.timeboxes, ]
            }
        });
    }

    createHandler = (createdTimebox) => {
        console.info('createHandler');
        this.addTimebox(createdTimebox);
    }

    render() {

        return (
            <>
                <TimeboxCreator
                    onCreate={this.createHandler}
                />
                {
                    this.state.timeboxes.map((timebox, id) => {
                        return (
                            <Timebox
                                key={timebox.id}
                                title={timebox.title}
                                totalTimeInMinutes={timebox.totalTimeInMinutes}
                                onDelete={() => this.deleteHandler(timebox.id)}
                                onEdit={(changedTimebox) => this.editHandler(timebox.id, { ...timebox, ...changedTimebox })}
                            />);
                    })
                }
            </>
        )
    }
}

function Timebox({ title, totalTimeInMinutes, onDelete, onEdit }) {

    const [ isEditMode, toggleEditMode ] = React.useState(false);
    const [ changedTitle, changeTitle] = React.useState(title);
    const [ changedTotalTimeInMinutes, changeTotalTimeInMinutes] = React.useState(totalTimeInMinutes);

    const appplyChanges = () => {
        toggleEditMode(false);
        onEdit({
            title: changedTitle,
            totalTimeInMinutes: changedTotalTimeInMinutes,
        });

    }

    const discardChanges = () => {
        toggleEditMode(false);
        changeTitle(title);
        changeTotalTimeInMinutes(totalTimeInMinutes);
    }

    return (
        <div className="Timebox">
            <h3>
                {
                    isEditMode ?
                    (
                        <>
                        <label >Co robisz?
                            <input
                                type="text"
                                value={changedTitle}
                                onChange={event => changeTitle(event.target.value)}
                            />
                        </label>
                        <label >Ile minut?
                            <input
                                type="number"
                                value={changedTotalTimeInMinutes}
                                onChange={event => changeTotalTimeInMinutes(event.target.value)}
                            />
                        </label>
                        </>
                    ) :
                    (`${title} - ${totalTimeInMinutes} min.`)
                }
            </h3>
            <button onClick={onDelete}>Usuń</button>
            {isEditMode ?
                (<>
                    <button onClick={appplyChanges}>Zatwierdź</button>
                    <button onClick={discardChanges}>Odrzuć zmiany</button>
                </>) :
                <button onClick={() => toggleEditMode(true)}>Zmień</button>
            }
        </div>
    )
}

/*********************************************************************
*************** Functional Component "EditableTimeBox" ***************
**********************************************************************/
class EditableTimeBox extends React.Component {

    state = {
        title: 'Uczę się wyciągać stan w górę',
        totalTimeInMinutes: 20,
        isEditable: true,
    }

    handleTitleChange = (event) => {
        console.info('>>> handleTitleChange', event.target.value);
        this.setState({ title: event.target.value});
    }

    handleTotalTimeInMinutesChange = (event) => {
        console.info('>>> handleTotalTimeInMinutesChange', event.target.value);
        this.setState({ totalTimeInMinutes: event.target.value});
    }

    handleConfirm = (event) => {
        this.setState({
            isEditable: false,
        })
    }

    handleEdit = (event) => {
        this.setState({
            isEditable: true,
        })
    }

    render() {

        const { title, totalTimeInMinutes, isEditable } = this.state;
        return (
            <>
                <TimeboxEditor
                    isEditable={isEditable}
                    title={title}
                    totalTimeInMinutes={totalTimeInMinutes}
                    onTitleChange={this.handleTitleChange}
                    onTotalTimeInMinutesChange={this.handleTotalTimeInMinutesChange}
                    onConfirm={this.handleConfirm}
                />
                <CurrentTimeBox
                    isEditable={isEditable}
                    title={title}
                    totalTimeInMinutes={totalTimeInMinutes}
                    onEdit={this.handleEdit}
                />
            </>
        );
    }
}

function App() {

    return (
        <div className="App">
            <TimeboxList />
        </div>
    );
}
ReactDOM.render(<App />, document.getElementById('root'));

</script>
</html>