
body {
    font-family: sans-serif;
    color: #444;
}

.TimeboxEditor, .TimeboxCreator {
    text-align: right;
    border: 1px #777 solid;
    border-radius: 0.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.Timebox {
    border: 1px #777 solid;
    border-radius: 0.5rem;
    padding: .25rem;
    margin-bottom: 0.25rem;
}

.Timebox h3 {
    line-height: 1rem;;
}

.Timebox label {
    border: none;
    display: block;
    margin-bottom: 0.5rem;
}

.TimeboxEditor label {
    margin-bottom: 0.25rem;
    display: block;
    margin-bottom: 0.5rem;
}

input {
    min-width: 30%;
    margin-left: 20px;
    font-size: 1rem;
    border: 1px solid #a0a0a0;
    padding: 0.125rem;
}

button {
    font-size: 1rem;
    margin-left: 20px;
}

.CurrentTimeBox {
    text-align: center;
    border: 1px #777 solid;
    border-radius: 0.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.Clock {
    color: orangered;
}

.ProgressBar {
    border: 1px orangered solid;
    border-radius: .5rem;
    height: 1rem;
    margin-bottom: 2rem;
    padding: 0.25rem;

}
.ProgressBar>div {
    height: 100%;
    background-color: orangered;
    border-radius: .25rem;
}

.inactive {
    filter: blur(2px) grayscale(1);
}